<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <LocationGroup
    id="CollectCreditCardLocationGroup"
    title="DisplayKey.get('Web.PaymentIntegration.CollectCreditCardPage.Title')">
    <LocationEntryPoint
      signature="CollectCreditCardLocationGroup(jobNumber : String)"/>
    <Variable
      name="jobNumber"
      type="String"/>
    <LocationRef
      location="CollectCreditCardPage(jobNumber)"/>
  </LocationGroup>
</PCF>