<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <RowSet
    id="APDEditionRowSet">
    <Require
      name="history"
      type="gw.apd.web.APDEditionDisplay[]"/>
    <Require
      name="currentEdition"
      type="APDEdition"/>
    <ExposeIterator
      flags="canSwitchToEdition,isBaseProduct,isEdition"
      valueType="gw.apd.web.APDEditionDisplay"
      widget="APDEditionsLV"/>
    <RowIterator
      editable="false"
      elementName="edition"
      hasCheckBoxes="true"
      id="APDEditionsLV"
      pageSize="15"
      value="history"
      valueType="gw.apd.web.APDEditionDisplay[]">
      <ToolbarFlag
        condition="edition.EditionRef != currentEdition"
        name="canSwitchToEdition"/>
      <ToolbarFlag
        condition="edition.IsBaseProduct"
        name="isBaseProduct"/>
      <ToolbarFlag
        condition="!edition.IsBaseProduct"
        name="isEdition"/>
      <IteratorSort
        sortBy="edition.EffectiveDate"
        sortDirection="descending"
        sortOrder="1"/>
      <Row
        highlighted="edition.EditionRef == currentEdition">
        <TextCell
          id="EditionCode"
          label="DisplayKey.get(&quot;Web.APDProduct.EditionName&quot;)"
          value="edition.EditionCode"/>
        <TextCell
          id="EditionDescription"
          label="DisplayKey.get(&quot;Web.APDProduct.EditionDescription&quot;)"
          value="edition.EditionDescription"/>
        <DateCell
          id="EditionDate"
          label="DisplayKey.get(&quot;Web.APDProduct.EffectiveDate&quot;)"
          value="edition.EffectiveDate"/>
        <TextCell
          id="EditionChanges"
          label="DisplayKey.get(&quot;Web.APDProduct.EditionChanges&quot;)"
          value="edition.Rules"
          valueType="Integer"/>
      </Row>
    </RowIterator>
  </RowSet>
</PCF>